:root {
  font-family:Inter, sans-serif;
  --text-color: #141413;
  --background-color: #FAFAF8
}

body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
}

.header-section {
  display: flex;
  justify-content: center;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,10),0px 1px 2px 0px rgba(0,0,0,0.06);
}

.header-section > nav {
  display: flex;
  align-items: center;
}

nav > span {
  font-weight: 400;
  font-size: 2rem;
  line-height: 60px;
  color: var(--text-color);
  margin-left: 10px;
}

.header-logo {
  width: 43px;
  height: 52px;
}

main {
  display: flex;
  flex-direction: column;
  padding: 30px 30px 10px;
  align-items: center;
}
main > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.add-ingredient-form {
  display: flex;
  justify-content: center;
  gap: 12px;
  height: 38px;
  width: 594px;
}

.add-ingredient-form > input {
  border-radius: 6px;
  border: 1px solid #D1D5DB;
  padding: 9px 13px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  min-width: 150px;
  width: 70%;
}

.add-ingredient-form > button {
  font-family: Inter, sans-serif;
  border-radius: 6px;
  border: none;
  background-color: #141413; 
  color: #FAFAF8;
  width: 30%;
  font-size: 0.875rem;
  font-weight: 500;
}

.add-ingredient-form > button::before {
  content: "+";
  margin-right: 5px;
}

.list-section-view {
 display: flex;
 justify-content: center;
}
.list-section-view > div {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 594px;
  max-height: 366px;
 overflow-y: scroll;
}

.list-section-view > div > p {
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  margin-bottom: 0px;
}

.list-section-view > div > ul {
}

.list-item-view {
  margin-top: 10px;
  margin-left: -20px;

  font-weight: 400px;
  font-size: 18px;
  line-height: 18px;
}

.sample-btn {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border-width: 0px;
  color: #141413;
  background-color: aliceblue;
}

.plus-btn, .minus-btn {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border-width: 0px;
  background-color: #141413;
  color: aliceblue;
}

main {
  /* position: relative; */
}

.btn-pack {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 55%
}

.minus-btn:hover {
  border: 2px solid salmon;
}
.plus-btn:hover {
  border: 2px solid salmon;
}

.get-recipe-container {
  display: flex;
  align-items: center;
  background-color: #F0EFEB;
  border-radius: 8px;
  gap: 50px;
  height: 109px;
}

.get-recipe-container > div {
  display: flex;
  flex-direction: column;
  margin-top: 28px;
  margin-bottom: 29px;
  margin-left: 42px;
}

.get-recipe-container > div > h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #141413;
}
.get-recipe-container > div > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6B7280;
  margin-top: 0;
}

.get-recipe-container > button {
  width: 115px;
  height: 38px;
  background-color: #D17557;
  color: white;
  border: 0px solid #D17557;
  border-radius: 6px;
  margin-right: 41px;
}